*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
li{
list-style: none;
}
.main-nav{
    height: 7rem;
    width: 100%;
    display: grid;
    padding-top: 30px;
    padding-left: 10px;
    grid-template-columns: 20rem 40rem 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


}
.left-div{
    display: flex;
    
}
.left-ul,.right-ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
.left-ul{
    size: 10rem;
    height: 30px;
    width: 30px;
    padding-left: 20px;
}
.menu-bar-icon{
    
}
.youtube-logo{
   
    color: red;
    
}
.input-bar{
    height: 2rem;
    width: 20rem;
    border-radius: 15px;
    border-style: inset;  
}
.right-div{
    justify-content: right;
}
.right-ul li{
    justify-content: right;
    gap: 20px;
    align-items: ;
}

