section{
    height: auto;
    width: 10rem;
}
img{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    height: 30rem;
    border-radius: 50px blue;
    -webkit-border-radius: 50px blue;
    -moz-border-radius: 50px blue;
    -ms-border-radius: 50px blue;
    -o-border-radius: 50px blue;
}
.Quality,.price,.Discount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Quality{
    padding-top: 10px;
    justify-content: space-around;
}
.price{
    padding-top: 10px;
    justify-content: space-around;
}
.Discount{
    padding-top: 10px;
    justify-content: space-around;
}
#head{
    z-index: 1;
}
