.seconnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 20px;
    margin-left: 10%;
    margin-right: auto;
   
}
.buttondiv{
    display: flex;
    justify-content:space-around;
    justify-content: center;
    gap: 3px;
    margin-left: 20px;
    padding-top: auto;
    align-items: center;
    gap:60px;
   
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 30px;
    /* border: 2px solid pink; */
   
}
.videos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: auto;
    padding-right: 50px;
    gap:10px;
    width: 100%;  
}
button{
    display: block;
    height: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white; /* Green */
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    border-radius:12px;
    flex-wrap: wrap;
    margin-right: 20px;
    
}
.sidebar{
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 3px;
    margin-left: 20px;
    margin-top: 9px;
    padding-top: auto;
    align-items: center;
    gap:60px;
    size: 20px;

    
}
.sidebaritem{
    font-family: 'roboto';
}
h6{
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}
